<html>
    <head><title></title></head>
<body>
<form action="/post" method="POST">
	<select name="category">
		 <option value="choose">Choose Employment Type:</option>
		 <option value="part_time">Part-Time</option>
		 <option value="full_time">Full-Time</option>
		 <option value="contract">Contract</option>
	</select>
		<input type="text" name="company_name" placeholder="Compnay Name">
		<input type="text" name="job_title" placeholder="Job Title">
		<input type="text" name="job_description" placeholder="Job Desscription">
		<input type="text" name="apply_url" placeholder="Apply Url">
		<input type="submit" value="post">
	</form>    
</body>
</html>